<h3>Advanced Todos</h3>

<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="66">
    <mat-progress-bar *ngIf="isFetchingMany$ | async; else todosList"
                      mode="indeterminate"
    ></mat-progress-bar>
  </div>
</div>

<ng-template #todosList>
  <nts-my-list [items]="todos$ | async"
               [statuses]="statuses$ | async"
               (remove)="handleRemove($event)"
               (edit)="handleEdit($event)"
               (saveEdit)="handleSaveEdit($event)"
               (cancelEdit)="handleCancelEdit($event)"
  ></nts-my-list>
</ng-template>
